<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.jdshop.dao.TbOrdersCustomMapper">



  <sql id="Base_Column_List">
    o.order_id as orderId,
    o.payment,
    o.payment_type AS  paymentType,
    o.post_fee AS  postFee,
    o.status,
    o.create_time AS createTime,
    o.user_id AS userId,
    o.buyer_message AS  buyerMessage,
    o.buyer_nick AS buyerNick,

    oi.id,
    oi.item_id AS  itemID,
    oi.num,
    oi.price,
    oi.total_fee AS  totalFee,
    oi.title,

    os.receiver_mobile AS  receiverMobile,
    os.receiver_name AS  receiverName,
    os.receiver_phone AS  receiverPhone,
    os.receiver_address AS  receiverAddress,

    p.pname

  </sql>
  <!--CASE-->
  <!--o.state-->
  <!--WHEN 0 THEN '已删除'-->
  <!--WHEN 1 THEN '未支付'-->
  <!--WHEN 2 THEN '已支付,未发货'-->
  <!--WHEN 3 THEN '已支付,并发货'-->
  <!--WHEN 4 THEN '已完成'-->
  <!--ELSE '未知' END as status-->

  <select id="selectByExample" resultType="com.zhou.jdshop.pojo.vo.TbOrdersCustom">

    select
    <include refid="Base_Column_List" />
    from tb_order_item oi  left join tb_order o on o.order_id=oi.order_id

    LEFT JOIN tb_product p on oi.item_id=p.pid
    LEFT  JOIN  tb_order_shipping os ON  os.order_id=o.order_id
    where o.status!=0 AND  oi.title!=0
    order by oi.id

  </select>


    <select id="selectOrderById" resultType="com.zhou.jdshop.pojo.vo.TbOrdersCustom">

        select
        <include refid="Base_Column_List" />
      from tb_order_item oi  left join tb_order o on o.order_id=oi.order_id

      LEFT JOIN tb_product p on oi.item_id=p.pid
      LEFT  JOIN  tb_order_shipping os ON  os.order_id=o.order_id
      where  oi.id=#{id} AND o.status!=0 AND  oi.title!=0
      order by oi.id


    </select>

</mapper>