<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="zhou_consumer" />
    <!-- 使用multicast广播注册中心暴露发现服务地址 -->
    <dubbo:registry  protocol="zookeeper" address="zookeeper://www.wyfei8.top:2181"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用categoryService -->
    <dubbo:reference id="categoryService" interface="com.zhou.jdshop.service.CategoryService" timeout="6000"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用productService -->
    <dubbo:reference id="productService" interface="com.zhou.jdshop.service.ProductService" timeout="6000"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用orderService -->
    <dubbo:reference id="orderService" interface="com.zhou.jdshop.service.OrderService" timeout="6000"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用searchService -->
    <dubbo:reference id="searchService" interface="com.zhou.jdshop.service.SearchService" timeout="6000"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用tbContentService -->
    <dubbo:reference id="tbContentService" interface="com.zhou.jdshop.service.TbContentService" timeout="6000"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用userService -->
    <dubbo:reference id="userService" interface="com.zhou.jdshop.service.UserService" timeout="6000"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用roleService -->
    <dubbo:reference id="roleService" interface="com.zhou.jdshop.service.RoleService" timeout="6000"/>

    <!--<dubbo:annotation package="com.zhou.jdshop.service"/>-->

</beans>