<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.jdshop.dao.TbUserCustomMapper">
  <select id="selectByUsernameAndPassword" parameterType="com.zhou.jdshop.pojo.po.TbUser" resultType="com.zhou.jdshop.pojo.po.TbUser">
    select * from tb_user where uname=#{username} and password=#{password};
  </select>
  <!-- 插入 -->
  <insert id="insertUser">
    insert into tb_user(uid, uname, password, truename, email, telephone, birthday, sex, state)
    VALUES(#{uid},#{username},#{password},#{name},#{email},#{telephone},#{birthday},#{sex},#{state})
  </insert>

  <!-- 模糊查询 -->
  <select id="selectByDim" resultType="com.zhou.jdshop.pojo.po.TbUser" parameterType="com.zhou.jdshop.pojo.po.TbUser">
    select * from tb_user where
    uname like concat('%',#{username}, '%') and
    truename like concat('%',#{name}, '%') and
    state like concat('%',#{state}, '%') and
  </select>
  <!--更改用户-->
  <update id="updateBy">
    update tb_user SET
    uname = #{username},
    password = #{password},
    truename = #{name},
    email = #{email},
    telephone = #{telephone},
    birthday = #{birthday},
    sex = #{sex},
    state = #{state},
  </update>
  <!--删除用户-->
  <delete id="deleteByUser">
    delete from tb_user where uid = #{uid}
  </delete>

  <!--查询所有-->
  <select id="selectAll" resultType="com.zhou.jdshop.pojo.po.TbUser">
    select * from tb_user
  </select>
  <!---->
  <select id="selectByUsername" parameterType="java.lang.String" resultType="com.zhou.jdshop.pojo.po.TbUser">
    select * from tb_user where uname=#{username};
  </select>
</mapper>